.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #dae5f5;
  overflow: hidden;
}

.main {
  flex: 1;
  background: #dae5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyState {
  text-align: center;
  max-width: 520px;
  width: 100%;
  padding: 20px;
}

.illustration {
  width: 260px;
  margin-bottom: 20px;
}

.emptyState h1 {
  font-size: 32px;
  margin-bottom: 12px;
  color:black;
}

.emptyState p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.encrypted {
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
  color: #777;
}
