.wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  background: #16008b;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.notes {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.backBtn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.backBtn:hover {
  transform: translateX(-5px);
  opacity: 0.85;
}

.inputBox {
  width: 100%;
  height:15%;
  display: flex;
  padding: 10px;
  background: #16008b;
}

textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: black;
  background-color: white;
}

button {
  margin-left: 10px;
  border: none;
  background: transparent;
  font-size: 22px;
}

.sendDisabled {
  color: gray;
}

.sendActive {
  color: white;
  cursor: pointer;
}
